.c-testimonial .slick-slider .slick-dots li button:before {
    width: 12px;
    height: 12px;
    content: "";
    border-radius: 50%;
    @apply opacity-100;
    background-color: #cdd5f7;
  }
  .c-testimonial .slick-dots li.slick-active button:before {
    @apply opacity-100 bg-primary;
  }