.flower-petal-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
  width: 400px;
  height: 400px;
}

@media only screen and (max-width: 1024px) {
  .flower-petal-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    width: 300px;
    height: 300px;
    margin: auto;
  }
}
